<!DOCTYPE html>
<html>
    <head>
        <title><%- title %> - <%- i18n("Invoice management") %></title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="description" content="Invoice management tool for freelancers" />
        <meta name="keywords" content="invoice, rechnung, bill, money, factura" />
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700|Open+Sans+Condensed:700" rel="stylesheet" />
        <!-- Viewport mobile tag for sensible mobile support -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <meta name="fragment" content="!" />

        <!--

        Stylesheets
        ========================

        You can link any CSS, LESS, or image files in your `assets` directory
        as you would normally: using <link/> tags.

        -->

        <!--

        Support for LESS included by default
        ================================================

        LESS files are automatically compiled when they change using the Gruntfile
        located in the top-level of this Sails app.  If you run into issues with styles
        not reloading, check the Sails log output in your console for LESS compilation errors.
        If necessary, shut down and then lift your app again.

        -->

		<noscript>
			<link rel="stylesheet" href="styles/skel-noscript.css" />
			<link rel="stylesheet" href="styles/style.css" />
			<link rel="stylesheet" href="styles/style-desktop.css" />
		</noscript>

		<!--[if lte IE 9]><link rel="stylesheet" href="styles/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><script src="/js/html5shiv.js"></script><link rel="stylesheet" href="styles/ie8.css" /><![endif]-->
		<!--[if lte IE 7]><link rel="stylesheet" href="styles/ie7.css" /><![endif]-->
    </head>

    <body>
        <!-- Header -->
			<header id="header">
				<div class="logo">
					<div>
						<h1><a href="#" id="logo"><%= title %></a></h1>
						<span class="byline"><%= i18n("Invoice managemment") %></span>
					</div>
				</div>
			</header>
		<!-- /Header -->

		<!-- Nav -->
			<nav id="nav" class="skel-panels-fixed">
				<ul>
					<li><a href="#/">Home</a></li>
					<li class="current_page_item"><a href="left-sidebar.html">Left Sidebar</a></li>
					<li><a href="right-sidebar.html">Right Sidebar</a></li>
					<li><a href="no-sidebar.html">No Sidebar</a></li>
				</ul>
			</nav>
		<!-- /Nav -->
        <!-- Include the view file for the current controller/route -->
        <%- body %>


        <!--

        Client-side Javascript
        ========================

        You can import any js files in your `assets` directory as you would
        normally: using <script></script> tags.

        Here's an example of importing a few dependencies, in order:
        -->
        <!-- Bring in the socket.io client -->
        <script type="text/javascript" src="/js/socket.io.js"></script>
        <!-- then beef it up with some convenience logic for talking to Sails.js -->
        <script type="text/javascript" src="/js/sails.io.js"></script>
        <!-- listen on socket.io for incoming messages -->
        <script type="text/javascript" src="/js/app.js"></script>

        <!-- Your scripts here? -->
        <!-- Your scripts here? -->
        <!-- Your scripts here? -->

		<script type="text/javascript" src="/js/jquery.min.js"></script>
		<script type="text/javascript" src="/js/config.js"></script>
		<script type="text/javascript" src="/js/skel.min.js"></script>
		<script type="text/javascript" src="/js/skel-panels.min.js"></script>


        <!--

        Looking for client-side CoffeeScript or TypeScript?
        ================================================

        CoffeeScript and TypeScript precompilation are not installed by default,
        but if you'd like to mix those features in, it is straightforward to
        `npm install` the relevant grunt community modules and modify your Gruntfile
        to use them.

        -->



        <!--

        Another way: The Asset Linker
        ========================

        Sails supports a Grunt-based asset linker, to automatically inject
        <link> and <script> tags, as well any client-side templates you're using
        into your HTML layouts and views, respecting dependencies.

        You created this Sails app with the asset linker disabled.
        If you change your mind, check out the docs on the subject:
        http://sailsjs.org/#!documentation/asset-management

        -->
    </body>
</html>
