		<!-- Main -->
			<div id="main-wrapper">
				<div id="main" class="container">
					<div class="row">
						<section class="-4u 4u is-highlight">
                            <% if (!req.session.authenticated){ %>
                            <form action="/login" method="post" id="loginForm">
                                <div class="row"><div class="12u">
                                <input type="hidden" name="_csrf" value="<%- _csrf %>" />
                                <input type="text" name="username" placeholder="Username" required />
                                </div></div><div class="row"><div class="12u">
                                <input type="password" name="password" placeholder="" required />
                                </div></div><div class="row"><div class="12u">
                                <a class="button" href="#" onclick="document.getElementById('loginForm').submit();return false;" title="<%= i18n('Login') %>">
                                   <%= i18n('Login') %>
                                </a>
                                </div></div>
                            </form>
                            <% }else{ %>
                            <p><%= i18n('You are allready logged in.') %></p>
                            <a class="button 12u" href="/app" title="<%= i18n('Go to app') %>"><%= i18n('Go to app') %></a>
                            <%  } %>
                        </section>
                    </div>
                </div>
            </div>
        <!-- /  Main -->
