<!DOCTYPE html>
<html>
    <head>
        <title><%- title %> - <%- i18n("Invoice management") %></title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="description" content="Invoice management tool for freelancers" />
        <meta name="keywords" content="invoice, rechnung, bill, money, factura" />
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700|Open+Sans+Condensed:700" rel="stylesheet" />
        <!-- Viewport mobile tag for sensible mobile support -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <meta name="fragment" content="!" />

        <!--

        Stylesheets
        ========================

        You can link any CSS, LESS, or image files in your `assets` directory
        as you would normally: using <link/> tags.

        -->

        <!--

        Support for LESS included by default
        ================================================

        LESS files are automatically compiled when they change using the Gruntfile
        located in the top-level of this Sails app.  If you run into issues with styles
        not reloading, check the Sails log output in your console for LESS compilation errors.
        If necessary, shut down and then lift your app again.

        -->

		<noscript>
			<link rel="stylesheet" href="styles/skel-noscript.css" />
			<link rel="stylesheet" href="styles/style.css" />
			<link rel="stylesheet" href="styles/style-desktop.css" />
		</noscript>

		<!--[if lte IE 9]><link rel="stylesheet" href="styles/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><script src="/js/html5shiv.js"></script><link rel="stylesheet" href="styles/ie8.css" /><![endif]-->
		<!--[if lte IE 7]><link rel="stylesheet" href="styles/ie7.css" /><![endif]-->
    </head>

    <body>
        <!-- Header - ->
			<header id="header">
				<div class="logo">
					<div>
						<h1><a href="/" id="logo"><%= title %></a></h1>
						<span class="byline"><%= i18n("Invoice management") %></span>
					</div>
				</div>
			</header>
		<!-- /Header -->

		<!-- Nav -->
			<nav id="nav" class="skel-panels-fixed">
				<ul>
					<li class="current_page_item"><a href="#!/"><%= i18n('Dashboard') %></a></li>
					<li><a href="#!/task"><%= i18n('Clients') %></a></li>
					<li><a href="#!/invoice"><%= i18n('Invoices') %></a></li>
					<li><a href="#!/client"><%= i18n('Settings') %></a></li>
					<li><a href="/logout"><%= i18n('Logout') %></a></li>
				</ul>
			</nav>
		<!-- /Nav -->
        <!-- Include the view file for the current controller/route -->

        		<!-- Main -->
			<div id="main-wrapper">
				<div id="main" class="container">
					<div class="row">
						<div class="12u">
                            <section class="login is-highlight">
                                <p> here goes the app </p>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        <!-- /  Main -->

        <!-- Footer -->
			<footer id="footer" class="container">
				<div class="row">
					<div class="12u">

						<!-- Contact -->
							<section>
								<h2 class="major"><span>Get in touch</span></h2>
								<ul class="contact">
									<li><a class="fa fa-facebook solo" href="#"><span>Facebook</span></a></li>
									<li><a class="fa fa-twitter solo" href="http://twitter.com/n33co"><span>Twitter</span></a></li>
									<li><a class="fa fa-rss solo" href="http://n33.co/feed/"><span>RSS</span></a></li>
									<li><a class="fa fa-dribbble solo" href="http://dribbble.com/n33"><span>Dribbble</span></a></li>
									<li><a class="fa fa-linkedin solo" href="#"><span>LinkedIn</span></a></li>
									<li><a class="fa fa-google-plus solo" href="#"><span>Google+</span></a></li>
								</ul>
							</section>
						<!-- /Contact -->

					</div>
				</div>

				<!-- Copyright -->
					<div id="copyright">
						&copy; Untitled Something | Images: <a href="http://fotogrph.com">fotogrph</a> | Design: <a href="http://html5up.net/">HTML5 UP</a>
					</div>
				<!-- /Copyright -->

			</footer>
		<!-- /Footer -->


        <!--

        Client-side Javascript
        ========================

        You can import any js files in your `assets` directory as you would
        normally: using <script></script> tags.

        Here's an example of importing a few dependencies, in order:
        -->

		<script type="text/javascript" data-main="js/main" src="/js/require.js"></script>
        <!-- Bring in the socket.io client -->
        <script type="text/javascript" src="/js/socket.io.js"></script>
        <!-- then beef it up with some convenience logic for talking to Sails.js -->
        <script type="text/javascript" src="/js/sails.io.js"></script>
        <!-- listen on socket.io for incoming messages -->
        <script type="text/javascript" src="/js/app.js"></script>

        <!-- scripts from theme -->
		<script type="text/javascript" src="/js/jquery.min.js"></script>
		<script type="text/javascript" src="/js/config.js"></script>
		<script type="text/javascript" src="/js/skel.min.js"></script>
		<script type="text/javascript" src="/js/skel-panels.min.js"></script>


        <!--
        Other scripts get sucked through the websocket into the page
        -->



        <!--

        Another way: The Asset Linker
        ========================

        Sails supports a Grunt-based asset linker, to automatically inject
        <link> and <script> tags, as well any client-side templates you're using
        into your HTML layouts and views, respecting dependencies.

        You created this Sails app with the asset linker disabled.
        If you change your mind, check out the docs on the subject:
        http://sailsjs.org/#!documentation/asset-management

        -->
    </body>
</html>
